<!DOCTYPE html>
<html>
	<head>
		<title>Restful Blog App</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet/semantic/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a href="/" class="header item" ><i id="i" class="code icon"></i>Restful Blog App</a>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
			
		</div>